@font-face {
    font-family: 'BellSlim';
    src: url('/src/assets/fonts/BellSlim-Black.woff2') format('woff2'),
        url('/src/assets/fonts/BellSlim-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}