@use './font.scss' as *;
@use './mixins.scss' as *;
@use './variables.scss' as *;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'BellSlim', Helvetica, Arial, sans-serif;
}

button, input, textarea {
    font-family: inherit;
}

a {
    text-decoration: none;
}