@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;


.suggestion-form{
    padding-right:2rem;
    padding-left:2rem;
    display:flex;
    flex-direction: column;
    &__title{
        padding-right:2rem;
        padding-left:2rem;
        color:$color-blue;
        padding-top:1rem ;
        padding-bottom:1rem ;
        font-size: 3.2rem;
        line-height: 3.2rem;
    }
    &__description{
        padding-right:2rem;
        padding-left:2rem;
        font-size: 1rem;
        padding-bottom: 4rem;
        font-size: 1.6rem;

    }
    &__label{
        font-size: 2rem;
        color:$color-blue;
        padding-bottom:6.4rem;
    }
    &__input{
        border: none;
        border-bottom: 0.2rem solid $color-grey;
        padding-bottom:0.8rem;
        color: $color-black;
        font-size: 1.6rem;
    }
    &__notify{
        display: flex;
        flex-direction: row;
        gap:1rem;
        font-size: 1.6rem;
        color:$color-blue;
        padding-bottom:24rem;
        padding-top:1.1rem;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        gap:1rem;
        
    }
    &__button{
        &--submit{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
        background-color: $color-blue;
        font-size: 1.6rem;
        letter-spacing: -0.8px;
        color: $color-white;
        border: none;
        }
        &--back{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
        border: 2px solid $color-blue;
        background-color: white;
        font-size: 1.6rem;
        letter-spacing: -0.8px;
        color: $color-blue;
        }
    }
 
    
}