@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.suggestion-form{
    display:flex;
    flex-direction: column;
    &__container {
        padding: 4.5rem 3.5rem;
    }
    &__title{
        color:$color-blue;
        padding-top:1rem;
        padding-bottom:1.5rem; 
        font-size: 3.2rem;
        line-height: 3.2rem;
    }
    &__description{
        font-size: 1rem;
        padding-bottom: 4rem;
        font-size: 1.6rem;
    }
    &__label{
        font-size: 2.5rem;
        color:$color-blue;
        margin-top: 2rem;
        padding-bottom:3rem;
    }
    &__input{
        border: none;
        border-bottom: 0.2rem solid $color-grey;
        padding-bottom:0.8rem;
        color: $color-black;
        font-size: 1.6rem;
        &:focus {
            outline: none; 
        }
    }
    &__notify{
        display: flex;
        flex-direction: row;
        gap:1rem;
        font-size: 1.6rem;
        color:$color-black;
        padding-bottom:24rem;
        padding-top:1.5rem;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
    }
    &__button{
        height: 4.2rem;
        cursor: pointer;
        &--submit{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
        background-color: $color-blue;
        font-size: 1.6rem;
        letter-spacing: -0.8px;
        color: $color-white;
        border: none;
        }
        &--back{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem 1.2rem;
        border-radius: 2rem;
        border: 2px solid $color-blue;
        background-color: white;
        font-size: 1.6rem;
        letter-spacing: -0.8px;
        color: $color-blue;
        }
    }
 
    
}