@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.suggestion-thanks {
    margin-left:4rem;
    margin-right:4rem;
    margin-top:4rem;

    &__text {
        color: $color-blue;
        font-size: 2.4rem;
    }

    &__image-container {
        margin-top: 6rem;
    }

    &__button {
        font-size: 1.5rem;
        margin-top:2rem;
        text-align: center;
        width: 100%;
        height: 4.2rem;
        color: $color-white;
        background-color: $color-blue;
        border: none;
        cursor: pointer;
        border-radius: 25px;

    }
}